  <div class='nested-fields'>
    <br>
    <div class="field">
      <%= f.label "Task Name:" %> 
      <%= f.text_field :description %>
        <button type="button" class="moveprevbtn"><%= link_to_remove_association "Remove Task", f %></button> 
    </div>
  </div>
