<h4>Project Name: <%= @project.name %></h4>

<h4>Tasks</h4>
<ul>
<% @tasks.each do |task| %>
 <li><h5><%= task.description %></h5></li>
<% end %>
</ul>

 <button type="button"> <%= link_to 'Edit', edit_project_path(@project) %> </button>|
 <button type="button"> <%= link_to 'Back', projects_path %></button>
